{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
    {{- $scratch.Add "meta" (slice (printf "<span>发表于%s</span>" (.Date.Format "1月2日"))) }}
{{- end }}

{{- if and (not .Lastmod.IsZero) (not (.Lastmod.Equal .Date)) -}}
    {{- $scratch.Add "meta" (slice (printf "<span>更新于%s</span>" (.Lastmod.Format "1月2日"))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
    {{- $scratch.Add "meta" (slice (printf "<span>共%d字</span>" .WordCount)) }}
{{- else -}}
    {{- $scratch.Add "meta" (slice (printf "<span>共%d字</span>" .WordCount)) }}
{{- end }}

{{- with ($scratch.Get "meta") }}
    {{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
